body, main {
  font-family: 'Montserrat', sans-serif;

  color: #2c3345;
  background-color: #ecedf3;
  max-width: 992;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  max-width: 992px;
}

header {
  .container {
    background-color: #ffffff;
  }

  h1 {
    font-weight: 700;
    margin: 0;
  }
}

#hero {
  .container {
    padding: 0;
  }

  @media screen and (min-width: 767px) {
    #hero-carousel {
      .carousel-inner {
        .carousel-item {
          height: 500px;
          
          img {
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

#food-list {
  .container {
    padding: 2rem;
    background-color: #ffffff;  

    h2 {
      font-weight: 700;
    }
  }
  
  .card {
    box-shadow: 0px 5px 10px rgba(gray, 0.2);

    .card-footer {
      background-color: #ffffff;
      border: none;
      font-size: 1.5rem;
    }

    a.btn {
      padding: .75rem 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .card-title {
    font-weight: 700;
  }
}

footer {
  background-color: tomato;
  color: #ffffff;
}
